<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <!-- Configure my logging level -->
  <logger name="de.aaaaaaah.velcom.runner" level="WARN"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
