openapi: 3.0.0
info:
  title: rest-api
  version: '1.0'
servers:
  - url: 'https://aaaaaaah.de:81'
  - url: 'http://localhost:3000'
paths:
  /repo:
    get:
      summary: Query a single repo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  repo:
                    title: Repo
                    type: object
                    properties:
                      id:
                        type: string
                        title: RepoId
                        format: uuid
                      name:
                        type: string
                      branches:
                        type: array
                        uniqueItems: true
                        items:
                          type: string
                      tracked_branches:
                        type: array
                        uniqueItems: true
                        items:
                          type: string
                      measurements:
                        type: array
                        items:
                          title: MeasurementId
                          type: object
                          properties:
                            benchmark:
                              type: string
                            metric:
                              type: string
                          required:
                            - benchmark
                            - metric
                      remote_url:
                        type: string
                        title: RemoteUrl
                        format: uri
                        description: "a repo's remote url"
                      has_token:
                        type: boolean
                        description: ''
                    required:
                      - id
                      - name
                      - branches
                      - tracked_branches
                      - measurements
                      - remote_url
                      - has_token
                required:
                  - repo
        '404':
          description: On invalid repo id
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: An error message returned when something goes wrong
      operationId: get-repo
      parameters:
        - schema:
            type: string
          in: query
          name: repo_id
          required: true
          description: of type RepoId
    post:
      operationId: post-repo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  repo:
                    title: Repo
                    type: object
                    properties:
                      id:
                        type: string
                        title: RepoId
                        format: uuid
                      name:
                        type: string
                      branches:
                        type: array
                        uniqueItems: true
                        items:
                          type: string
                      tracked_branches:
                        type: array
                        uniqueItems: true
                        items:
                          type: string
                      measurements:
                        type: array
                        items:
                          title: MeasurementId
                          type: object
                          properties:
                            benchmark:
                              type: string
                            metric:
                              type: string
                          required:
                            - benchmark
                            - metric
                      remote_url:
                        type: string
                        title: RemoteUrl
                        format: uri
                        description: "a repo's remote url"
                      has_token:
                        type: boolean
                        description: ''
                    required:
                      - id
                      - name
                      - branches
                      - tracked_branches
                      - measurements
                      - remote_url
                      - has_token
                required:
                  - repo
        '400':
          description: When repo could not be added
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: An error message returned when something goes wrong
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                remote_url:
                  type: string
                  title: RemoteUrl
                  format: uri
                  description: "a repo's remote url"
                token:
                  type: string
                  minLength: 1
              required:
                - name
                - remote_url
      security:
        - auth: []
      summary: Create a new repo
    patch:
      summary: Modify an existing repo
      operationId: patch-repo
      responses:
        '200':
          description: OK
        '404':
          description: On invalid repo id
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: An error message returned when something goes wrong
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                repo_id:
                  type: string
                  title: RepoId
                  format: uuid
                name:
                  type: string
                token:
                  type: string
                remote_url:
                  type: string
                  title: RemoteUrl
                  format: uri
                  description: "a repo's remote url"
                tracked_branches:
                  type: array
                  uniqueItems: true
                  items:
                    type: string
              required:
                - repo_id
        description: 'If token is the empty string, the token for this repo is disabled.'
      security:
        - auth: []
    delete:
      summary: Delete an existing repo
      operationId: delete-repo
      responses:
        '200':
          description: OK
      security:
        - auth: []
      requestBody: {}
      parameters:
        - schema:
            type: string
          in: query
          name: repo_id
          description: of type RepoId
          required: true
  /all-repos:
    get:
      summary: An overview of all known repos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  repos:
                    type: array
                    items:
                      title: Repo
                      type: object
                      properties:
                        id:
                          type: string
                          title: RepoId
                          format: uuid
                        name:
                          type: string
                        branches:
                          type: array
                          uniqueItems: true
                          items:
                            type: string
                        tracked_branches:
                          type: array
                          uniqueItems: true
                          items:
                            type: string
                        measurements:
                          type: array
                          items:
                            title: MeasurementId
                            type: object
                            properties:
                              benchmark:
                                type: string
                              metric:
                                type: string
                            required:
                              - benchmark
                              - metric
                        remote_url:
                          type: string
                          title: RemoteUrl
                          format: uri
                          description: "a repo's remote url"
                        has_token:
                          type: boolean
                          description: ''
                      required:
                        - id
                        - name
                        - branches
                        - tracked_branches
                        - measurements
                        - remote_url
                        - has_token
                required:
                  - repos
      operationId: get-all-repos
  /repo-comparison-graph:
    post:
      summary: Get data for the repo comparison graph
      operationId: post-repo-comparison-graph
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                repos:
                  type: array
                  items:
                    type: object
                    properties:
                      repo_id:
                        type: string
                        title: RepoId
                        format: uuid
                      branches:
                        type: array
                        uniqueItems: true
                        items:
                          type: string
                    required:
                      - repo_id
                      - branches
                start_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                stop_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                benchmark:
                  type: string
                metric:
                  type: string
              required:
                - repos
                - benchmark
                - metric
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  repos:
                    type: array
                    items:
                      type: object
                      properties:
                        repo_id:
                          type: string
                          title: RepoId
                          format: uuid
                          description: repo id
                        commits:
                          type: array
                          items:
                            type: object
                            properties:
                              commit:
                                title: Commit
                                type: object
                                properties:
                                  repo_id:
                                    type: string
                                    title: RepoId
                                    format: uuid
                                    description: repo id
                                  hash:
                                    title: CommitHash
                                    type: string
                                    description: commit hash
                                  author:
                                    type: string
                                  author_date:
                                    type: integer
                                    title: Time
                                    description: unix/epoch time (seconds since 1970-01-01)
                                    format: int64
                                  committer:
                                    type: string
                                  committer_date:
                                    type: integer
                                    title: Time
                                    description: unix/epoch time (seconds since 1970-01-01)
                                    format: int64
                                  message:
                                    type: string
                                  parents:
                                    type: array
                                    items:
                                      title: CommitHash
                                      type: string
                                      description: commit hash
                                required:
                                  - repo_id
                                  - hash
                                  - author
                                  - author_date
                                  - committer
                                  - committer_date
                                  - message
                                  - parents
                              value:
                                type: number
                            required:
                              - commit
                              - value
                        interpretation:
                          type: string
                          title: Interpretation
                          enum:
                            - LESS_IS_BETTER
                            - MORE_IS_BETTER
                            - NEUTRAL
                        unit:
                          title: Unit
                          type: string
                      required:
                        - repo_id
                        - commits
                required:
                  - repos
        '404':
          description: On invalid repo id
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: An error message returned when something goes wrong
      description: This operation uses POST instead of GET because the parameter structure is too unwieldy to be passed via query parameters.
  /commit-history:
    get:
      summary: Get data for the repo detail graph
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  commits:
                    type: array
                    items:
                      title: CommitComparison
                      type: object
                      properties:
                        first_run:
                          title: Run
                          oneOf:
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                measurements:
                                  type: array
                                  items:
                                    title: Measurement
                                    oneOf:
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          unit:
                                            title: Unit
                                            type: string
                                          interpretation:
                                            type: string
                                            title: Interpretation
                                            enum:
                                              - LESS_IS_BETTER
                                              - MORE_IS_BETTER
                                              - NEUTRAL
                                          values:
                                            type: array
                                            items:
                                              type: number
                                          value:
                                            type: number
                                        required:
                                          - benchmark
                                          - metric
                                          - values
                                          - value
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          error_message:
                                            type: string
                                        required:
                                          - benchmark
                                          - metric
                                          - error_message
                                    type: object
                              required:
                                - start_time
                                - stop_time
                                - measurements
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                error_message:
                                  type: string
                              required:
                                - start_time
                                - stop_time
                                - error_message
                          type: object
                        second_run:
                          title: Run
                          oneOf:
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                measurements:
                                  type: array
                                  items:
                                    title: Measurement
                                    oneOf:
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          unit:
                                            title: Unit
                                            type: string
                                          interpretation:
                                            type: string
                                            title: Interpretation
                                            enum:
                                              - LESS_IS_BETTER
                                              - MORE_IS_BETTER
                                              - NEUTRAL
                                          values:
                                            type: array
                                            items:
                                              type: number
                                          value:
                                            type: number
                                        required:
                                          - benchmark
                                          - metric
                                          - values
                                          - value
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          error_message:
                                            type: string
                                        required:
                                          - benchmark
                                          - metric
                                          - error_message
                                    type: object
                              required:
                                - start_time
                                - stop_time
                                - measurements
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                error_message:
                                  type: string
                              required:
                                - start_time
                                - stop_time
                                - error_message
                          type: object
                        differences:
                          type: array
                          items:
                            title: Difference
                            type: object
                            properties:
                              benchmark:
                                type: string
                              metric:
                                type: string
                              difference:
                                type: number
                            required:
                              - benchmark
                              - metric
                              - difference
                        first_commit:
                          title: Commit
                          type: object
                          properties:
                            repo_id:
                              type: string
                              title: RepoId
                              format: uuid
                              description: repo id
                            hash:
                              title: CommitHash
                              type: string
                              description: commit hash
                            author:
                              type: string
                            author_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            committer:
                              type: string
                            committer_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            message:
                              type: string
                            parents:
                              type: array
                              items:
                                title: CommitHash
                                type: string
                                description: commit hash
                          required:
                            - repo_id
                            - hash
                            - author
                            - author_date
                            - committer
                            - committer_date
                            - message
                            - parents
                        second_commit:
                          title: Commit
                          type: object
                          properties:
                            repo_id:
                              type: string
                              title: RepoId
                              format: uuid
                              description: repo id
                            hash:
                              title: CommitHash
                              type: string
                              description: commit hash
                            author:
                              type: string
                            author_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            committer:
                              type: string
                            committer_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            message:
                              type: string
                            parents:
                              type: array
                              items:
                                title: CommitHash
                                type: string
                                description: commit hash
                          required:
                            - repo_id
                            - hash
                            - author
                            - author_date
                            - committer
                            - committer_date
                            - message
                            - parents
                      required:
                        - differences
                        - second_commit
                  offset:
                    type: integer
                    description: the global offset (skip) of the first (newest) commit returned
                    minimum: 0
                required:
                  - commits
                  - offset
        '404':
          description: On invalid repo id
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: An error message returned when something goes wrong
      operationId: get-repo-detail-graph
      parameters:
        - schema:
            type: string
          in: query
          name: repo_id
          required: true
        - schema:
            type: integer
            minimum: 0
            default: 100
          in: query
          name: amount
          description: number of (older) commits to fetch before the current commit
          required: true
        - schema:
            type: integer
            minimum: 0
            default: 0
          in: query
          name: skip
          description: number of commits to skip over after the current commit (a skip of 0 includes the current commit)
        - schema:
            type: string
          in: query
          name: relative_to
          description: "the commit that 'amount' and 'skip' are relative to"
  /test-token:
    post:
      summary: Test whether an auth token is valid
      operationId: post-test-token
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      security:
        - auth: []
      parameters:
        - schema:
            type: string
          in: query
          name: repo_id
          description: of type RepoId
      description: |-
        Test whether an auth token is valid.

        If a repo id is specified, checks whether the auth token allows access to that repo.
        If no repo id is specified, checks whether the auth token is valid as admin auth token.
  /commit-compare:
    get:
      summary: Compare two commits against each other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comparison:
                    title: CommitComparison
                    type: object
                    properties:
                      first_run:
                        title: Run
                        oneOf:
                          - properties:
                              start_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              stop_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              measurements:
                                type: array
                                items:
                                  title: Measurement
                                  oneOf:
                                    - properties:
                                        benchmark:
                                          type: string
                                        metric:
                                          type: string
                                        unit:
                                          title: Unit
                                          type: string
                                        interpretation:
                                          type: string
                                          title: Interpretation
                                          enum:
                                            - LESS_IS_BETTER
                                            - MORE_IS_BETTER
                                            - NEUTRAL
                                        values:
                                          type: array
                                          items:
                                            type: number
                                        value:
                                          type: number
                                      required:
                                        - benchmark
                                        - metric
                                        - values
                                        - value
                                    - properties:
                                        benchmark:
                                          type: string
                                        metric:
                                          type: string
                                        error_message:
                                          type: string
                                      required:
                                        - benchmark
                                        - metric
                                        - error_message
                                  type: object
                            required:
                              - start_time
                              - stop_time
                              - measurements
                          - properties:
                              start_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              stop_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              error_message:
                                type: string
                            required:
                              - start_time
                              - stop_time
                              - error_message
                        type: object
                      second_run:
                        title: Run
                        oneOf:
                          - properties:
                              start_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              stop_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              measurements:
                                type: array
                                items:
                                  title: Measurement
                                  oneOf:
                                    - properties:
                                        benchmark:
                                          type: string
                                        metric:
                                          type: string
                                        unit:
                                          title: Unit
                                          type: string
                                        interpretation:
                                          type: string
                                          title: Interpretation
                                          enum:
                                            - LESS_IS_BETTER
                                            - MORE_IS_BETTER
                                            - NEUTRAL
                                        values:
                                          type: array
                                          items:
                                            type: number
                                        value:
                                          type: number
                                      required:
                                        - benchmark
                                        - metric
                                        - values
                                        - value
                                    - properties:
                                        benchmark:
                                          type: string
                                        metric:
                                          type: string
                                        error_message:
                                          type: string
                                      required:
                                        - benchmark
                                        - metric
                                        - error_message
                                  type: object
                            required:
                              - start_time
                              - stop_time
                              - measurements
                          - properties:
                              start_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              stop_time:
                                type: integer
                                title: Time
                                description: unix/epoch time (seconds since 1970-01-01)
                                format: int64
                              error_message:
                                type: string
                            required:
                              - start_time
                              - stop_time
                              - error_message
                        type: object
                      differences:
                        type: array
                        items:
                          title: Difference
                          type: object
                          properties:
                            benchmark:
                              type: string
                            metric:
                              type: string
                            difference:
                              type: number
                          required:
                            - benchmark
                            - metric
                            - difference
                      first_commit:
                        title: Commit
                        type: object
                        properties:
                          repo_id:
                            type: string
                            title: RepoId
                            format: uuid
                            description: repo id
                          hash:
                            title: CommitHash
                            type: string
                            description: commit hash
                          author:
                            type: string
                          author_date:
                            type: integer
                            title: Time
                            description: unix/epoch time (seconds since 1970-01-01)
                            format: int64
                          committer:
                            type: string
                          committer_date:
                            type: integer
                            title: Time
                            description: unix/epoch time (seconds since 1970-01-01)
                            format: int64
                          message:
                            type: string
                          parents:
                            type: array
                            items:
                              title: CommitHash
                              type: string
                              description: commit hash
                        required:
                          - repo_id
                          - hash
                          - author
                          - author_date
                          - committer
                          - committer_date
                          - message
                          - parents
                      second_commit:
                        title: Commit
                        type: object
                        properties:
                          repo_id:
                            type: string
                            title: RepoId
                            format: uuid
                            description: repo id
                          hash:
                            title: CommitHash
                            type: string
                            description: commit hash
                          author:
                            type: string
                          author_date:
                            type: integer
                            title: Time
                            description: unix/epoch time (seconds since 1970-01-01)
                            format: int64
                          committer:
                            type: string
                          committer_date:
                            type: integer
                            title: Time
                            description: unix/epoch time (seconds since 1970-01-01)
                            format: int64
                          message:
                            type: string
                          parents:
                            type: array
                            items:
                              title: CommitHash
                              type: string
                              description: commit hash
                        required:
                          - repo_id
                          - hash
                          - author
                          - author_date
                          - committer
                          - committer_date
                          - message
                          - parents
                    required:
                      - differences
                      - second_commit
                  next:
                    title: Commit
                    type: object
                    properties:
                      repo_id:
                        type: string
                        title: RepoId
                        format: uuid
                        description: repo id
                      hash:
                        title: CommitHash
                        type: string
                        description: commit hash
                      author:
                        type: string
                      author_date:
                        type: integer
                        title: Time
                        description: unix/epoch time (seconds since 1970-01-01)
                        format: int64
                      committer:
                        type: string
                      committer_date:
                        type: integer
                        title: Time
                        description: unix/epoch time (seconds since 1970-01-01)
                        format: int64
                      message:
                        type: string
                      parents:
                        type: array
                        items:
                          title: CommitHash
                          type: string
                          description: commit hash
                    required:
                      - repo_id
                      - hash
                      - author
                      - author_date
                      - committer
                      - committer_date
                      - message
                      - parents
                required:
                  - comparison
        '404':
          description: On invalid repo or commit id
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
                description: An error message returned when something goes wrong
      operationId: get-commit-compare
      parameters:
        - schema:
            type: string
          in: query
          name: repo_id
          required: true
        - schema:
            type: string
          in: query
          name: first_commit_hash
        - schema:
            type: string
          in: query
          name: second_commit_hash
  /recently-benchmarked-commits:
    get:
      summary: Get the commits that were most recently benchmarked
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  commits:
                    type: array
                    items:
                      title: CommitComparison
                      type: object
                      properties:
                        first_run:
                          title: Run
                          oneOf:
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                measurements:
                                  type: array
                                  items:
                                    title: Measurement
                                    oneOf:
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          unit:
                                            title: Unit
                                            type: string
                                          interpretation:
                                            type: string
                                            title: Interpretation
                                            enum:
                                              - LESS_IS_BETTER
                                              - MORE_IS_BETTER
                                              - NEUTRAL
                                          values:
                                            type: array
                                            items:
                                              type: number
                                          value:
                                            type: number
                                        required:
                                          - benchmark
                                          - metric
                                          - values
                                          - value
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          error_message:
                                            type: string
                                        required:
                                          - benchmark
                                          - metric
                                          - error_message
                                    type: object
                              required:
                                - start_time
                                - stop_time
                                - measurements
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                error_message:
                                  type: string
                              required:
                                - start_time
                                - stop_time
                                - error_message
                          type: object
                        second_run:
                          title: Run
                          oneOf:
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                measurements:
                                  type: array
                                  items:
                                    title: Measurement
                                    oneOf:
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          unit:
                                            title: Unit
                                            type: string
                                          interpretation:
                                            type: string
                                            title: Interpretation
                                            enum:
                                              - LESS_IS_BETTER
                                              - MORE_IS_BETTER
                                              - NEUTRAL
                                          values:
                                            type: array
                                            items:
                                              type: number
                                          value:
                                            type: number
                                        required:
                                          - benchmark
                                          - metric
                                          - values
                                          - value
                                      - properties:
                                          benchmark:
                                            type: string
                                          metric:
                                            type: string
                                          error_message:
                                            type: string
                                        required:
                                          - benchmark
                                          - metric
                                          - error_message
                                    type: object
                              required:
                                - start_time
                                - stop_time
                                - measurements
                            - properties:
                                start_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                stop_time:
                                  type: integer
                                  title: Time
                                  description: unix/epoch time (seconds since 1970-01-01)
                                  format: int64
                                error_message:
                                  type: string
                              required:
                                - start_time
                                - stop_time
                                - error_message
                          type: object
                        differences:
                          type: array
                          items:
                            title: Difference
                            type: object
                            properties:
                              benchmark:
                                type: string
                              metric:
                                type: string
                              difference:
                                type: number
                            required:
                              - benchmark
                              - metric
                              - difference
                        first_commit:
                          title: Commit
                          type: object
                          properties:
                            repo_id:
                              type: string
                              title: RepoId
                              format: uuid
                              description: repo id
                            hash:
                              title: CommitHash
                              type: string
                              description: commit hash
                            author:
                              type: string
                            author_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            committer:
                              type: string
                            committer_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            message:
                              type: string
                            parents:
                              type: array
                              items:
                                title: CommitHash
                                type: string
                                description: commit hash
                          required:
                            - repo_id
                            - hash
                            - author
                            - author_date
                            - committer
                            - committer_date
                            - message
                            - parents
                        second_commit:
                          title: Commit
                          type: object
                          properties:
                            repo_id:
                              type: string
                              title: RepoId
                              format: uuid
                              description: repo id
                            hash:
                              title: CommitHash
                              type: string
                              description: commit hash
                            author:
                              type: string
                            author_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            committer:
                              type: string
                            committer_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            message:
                              type: string
                            parents:
                              type: array
                              items:
                                title: CommitHash
                                type: string
                                description: commit hash
                          required:
                            - repo_id
                            - hash
                            - author
                            - author_date
                            - committer
                            - committer_date
                            - message
                            - parents
                      required:
                        - differences
                        - second_commit
                required:
                  - commits
      operationId: get-news
      parameters:
        - schema:
            type: number
          in: query
          name: amount
          description: maximum number of commits
          required: true
        - schema:
            type: boolean
          in: query
          name: significant_only
          description: 'default: false'
  /queue:
    get:
      summary: "Get the queue's current state"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    description: 'tasks that have not yet been benchmarked and are not currently being benchmarked, in the order they are going to be executed'
                    items:
                      title: Commit
                      type: object
                      properties:
                        repo_id:
                          type: string
                          title: RepoId
                          format: uuid
                          description: repo id
                        hash:
                          title: CommitHash
                          type: string
                          description: commit hash
                        author:
                          type: string
                        author_date:
                          type: integer
                          title: Time
                          description: unix/epoch time (seconds since 1970-01-01)
                          format: int64
                        committer:
                          type: string
                        committer_date:
                          type: integer
                          title: Time
                          description: unix/epoch time (seconds since 1970-01-01)
                          format: int64
                        message:
                          type: string
                        parents:
                          type: array
                          items:
                            title: CommitHash
                            type: string
                            description: commit hash
                      required:
                        - repo_id
                        - hash
                        - author
                        - author_date
                        - committer
                        - committer_date
                        - message
                        - parents
                  workers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        working_on:
                          title: Commit
                          type: object
                          properties:
                            repo_id:
                              type: string
                              title: RepoId
                              format: uuid
                              description: repo id
                            hash:
                              title: CommitHash
                              type: string
                              description: commit hash
                            author:
                              type: string
                            author_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            committer:
                              type: string
                            committer_date:
                              type: integer
                              title: Time
                              description: unix/epoch time (seconds since 1970-01-01)
                              format: int64
                            message:
                              type: string
                            parents:
                              type: array
                              items:
                                title: CommitHash
                                type: string
                                description: commit hash
                          required:
                            - repo_id
                            - hash
                            - author
                            - author_date
                            - committer
                            - committer_date
                            - message
                            - parents
                        operating_system:
                          type: string
                        nachine_info:
                          type: string
                      required:
                        - name
                required:
                  - tasks
                  - workers
      operationId: get-queue
      description: ''
    post:
      summary: Add (or move) a task to the top of the queue
      operationId: post-queue
      responses:
        '200':
          description: OK
      security:
        - auth: []
      description: 'Only works with web admin auth, not with repo admin auth.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                repo_id:
                  type: string
                  title: RepoId
                  format: uuid
                  description: repo id
                commit_hash:
                  title: CommitHash
                  type: string
                  description: commit hash
                include_all_commits_after:
                  type: boolean
              required:
                - repo_id
                - commit_hash
    delete:
      summary: Remove a task from the queue
      operationId: delete-queue
      responses:
        '200':
          description: OK
      requestBody: {}
      parameters:
        - schema:
            type: string
          in: query
          name: repo_id
          required: true
          description: of type RepoId
        - schema:
            type: string
          in: query
          name: commit_hash
          required: true
          description: of type CommitHash
      security:
        - auth: []
  /measurements:
    delete:
      summary: Delete measurements by benchmark and metric
      operationId: delete-measurements
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: query
          name: repo_id
          required: true
          description: of type RepoId
        - schema:
            type: string
          in: query
          name: benchmark
          required: true
          description: name of benchmark
        - schema:
            type: string
          in: query
          name: metric
          required: true
          description: name of metric
      security:
        - auth: []
components:
  schemas:
    CommitHash:
      title: CommitHash
      type: string
      description: commit hash
    Commit:
      title: Commit
      type: object
      properties:
        repo_id:
          type: string
          title: RepoId
          format: uuid
          description: repo id
        hash:
          title: CommitHash
          type: string
          description: commit hash
        author:
          type: string
        author_date:
          type: integer
          title: Time
          description: unix/epoch time (seconds since 1970-01-01)
          format: int64
        committer:
          type: string
        committer_date:
          type: integer
          title: Time
          description: unix/epoch time (seconds since 1970-01-01)
          format: int64
        message:
          type: string
        parents:
          type: array
          items:
            title: CommitHash
            type: string
            description: commit hash
      required:
        - repo_id
        - hash
        - author
        - author_date
        - committer
        - committer_date
        - message
        - parents
    RepoId:
      type: string
      title: RepoId
      format: uuid
      description: repo id
    Repo:
      title: Repo
      type: object
      properties:
        id:
          type: string
          title: RepoId
          format: uuid
        name:
          type: string
        branches:
          type: array
          uniqueItems: true
          items:
            type: string
        tracked_branches:
          type: array
          uniqueItems: true
          items:
            type: string
        measurements:
          type: array
          items:
            title: MeasurementId
            type: object
            properties:
              benchmark:
                type: string
              metric:
                type: string
            required:
              - benchmark
              - metric
        remote_url:
          type: string
          title: RemoteUrl
          format: uri
          description: "a repo's remote url"
        has_token:
          type: boolean
          description: ''
      required:
        - id
        - name
        - branches
        - tracked_branches
        - measurements
        - remote_url
        - has_token
    Measurement:
      title: Measurement
      oneOf:
        - properties:
            benchmark:
              type: string
            metric:
              type: string
            unit:
              title: Unit
              type: string
            interpretation:
              type: string
              title: Interpretation
              enum:
                - LESS_IS_BETTER
                - MORE_IS_BETTER
                - NEUTRAL
            values:
              type: array
              items:
                type: number
            value:
              type: number
          required:
            - benchmark
            - metric
            - values
            - value
        - properties:
            benchmark:
              type: string
            metric:
              type: string
            error_message:
              type: string
          required:
            - benchmark
            - metric
            - error_message
      type: object
    Difference:
      title: Difference
      type: object
      properties:
        benchmark:
          type: string
        metric:
          type: string
        difference:
          type: number
      required:
        - benchmark
        - metric
        - difference
    CommitComparison:
      title: CommitComparison
      type: object
      properties:
        first_run:
          title: Run
          oneOf:
            - properties:
                start_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                stop_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                measurements:
                  type: array
                  items:
                    title: Measurement
                    oneOf:
                      - properties:
                          benchmark:
                            type: string
                          metric:
                            type: string
                          unit:
                            title: Unit
                            type: string
                          interpretation:
                            type: string
                            title: Interpretation
                            enum:
                              - LESS_IS_BETTER
                              - MORE_IS_BETTER
                              - NEUTRAL
                          values:
                            type: array
                            items:
                              type: number
                          value:
                            type: number
                        required:
                          - benchmark
                          - metric
                          - values
                          - value
                      - properties:
                          benchmark:
                            type: string
                          metric:
                            type: string
                          error_message:
                            type: string
                        required:
                          - benchmark
                          - metric
                          - error_message
                    type: object
              required:
                - start_time
                - stop_time
                - measurements
            - properties:
                start_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                stop_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                error_message:
                  type: string
              required:
                - start_time
                - stop_time
                - error_message
          type: object
        second_run:
          title: Run
          oneOf:
            - properties:
                start_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                stop_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                measurements:
                  type: array
                  items:
                    title: Measurement
                    oneOf:
                      - properties:
                          benchmark:
                            type: string
                          metric:
                            type: string
                          unit:
                            title: Unit
                            type: string
                          interpretation:
                            type: string
                            title: Interpretation
                            enum:
                              - LESS_IS_BETTER
                              - MORE_IS_BETTER
                              - NEUTRAL
                          values:
                            type: array
                            items:
                              type: number
                          value:
                            type: number
                        required:
                          - benchmark
                          - metric
                          - values
                          - value
                      - properties:
                          benchmark:
                            type: string
                          metric:
                            type: string
                          error_message:
                            type: string
                        required:
                          - benchmark
                          - metric
                          - error_message
                    type: object
              required:
                - start_time
                - stop_time
                - measurements
            - properties:
                start_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                stop_time:
                  type: integer
                  title: Time
                  description: unix/epoch time (seconds since 1970-01-01)
                  format: int64
                error_message:
                  type: string
              required:
                - start_time
                - stop_time
                - error_message
          type: object
        differences:
          type: array
          items:
            title: Difference
            type: object
            properties:
              benchmark:
                type: string
              metric:
                type: string
              difference:
                type: number
            required:
              - benchmark
              - metric
              - difference
        first_commit:
          title: Commit
          type: object
          properties:
            repo_id:
              type: string
              title: RepoId
              format: uuid
              description: repo id
            hash:
              title: CommitHash
              type: string
              description: commit hash
            author:
              type: string
            author_date:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            committer:
              type: string
            committer_date:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            message:
              type: string
            parents:
              type: array
              items:
                title: CommitHash
                type: string
                description: commit hash
          required:
            - repo_id
            - hash
            - author
            - author_date
            - committer
            - committer_date
            - message
            - parents
        second_commit:
          title: Commit
          type: object
          properties:
            repo_id:
              type: string
              title: RepoId
              format: uuid
              description: repo id
            hash:
              title: CommitHash
              type: string
              description: commit hash
            author:
              type: string
            author_date:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            committer:
              type: string
            committer_date:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            message:
              type: string
            parents:
              type: array
              items:
                title: CommitHash
                type: string
                description: commit hash
          required:
            - repo_id
            - hash
            - author
            - author_date
            - committer
            - committer_date
            - message
            - parents
      required:
        - differences
        - second_commit
    Run:
      title: Run
      oneOf:
        - properties:
            start_time:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            stop_time:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            measurements:
              type: array
              items:
                title: Measurement
                oneOf:
                  - properties:
                      benchmark:
                        type: string
                      metric:
                        type: string
                      unit:
                        title: Unit
                        type: string
                      interpretation:
                        type: string
                        title: Interpretation
                        enum:
                          - LESS_IS_BETTER
                          - MORE_IS_BETTER
                          - NEUTRAL
                      values:
                        type: array
                        items:
                          type: number
                      value:
                        type: number
                    required:
                      - benchmark
                      - metric
                      - values
                      - value
                  - properties:
                      benchmark:
                        type: string
                      metric:
                        type: string
                      error_message:
                        type: string
                    required:
                      - benchmark
                      - metric
                      - error_message
                type: object
          required:
            - start_time
            - stop_time
            - measurements
        - properties:
            start_time:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            stop_time:
              type: integer
              title: Time
              description: unix/epoch time (seconds since 1970-01-01)
              format: int64
            error_message:
              type: string
          required:
            - start_time
            - stop_time
            - error_message
      type: object
    Time:
      type: integer
      title: Time
      description: unix/epoch time (seconds since 1970-01-01)
      format: int64
    RemoteUrl:
      type: string
      title: RemoteUrl
      format: uri
      description: "a repo's remote url"
    Error:
      title: Error
      type: object
      properties:
        error:
          type: string
      required:
        - error
      description: An error message returned when something goes wrong
    Interpretation:
      type: string
      title: Interpretation
      enum:
        - LESS_IS_BETTER
        - MORE_IS_BETTER
        - NEUTRAL
    Unit:
      title: Unit
      type: string
  securitySchemes:
    auth:
      type: http
      scheme: Basic
